<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush-Portfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/images/aaa.png">
    <link rel="stylesheet" href="/css/index.css">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" /> -->
</head>
<style>

</style>

<body class="bg-zinc-900 w-full">

    <!-- top navbar -->

    <nav class=" z-50 w-full  p-0 bg-zinc-800 ">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden  focus:outline-none  dark:text-gray-400  ">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                    <img src="images/A_logo.png" class="h-8 w-10 mr-3 color- rounded-full" alt="Ayush portfolio" />
                    <span
                        class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-white">Ayush</span>

                </div>
                <div class="flex items-center">
                    <div class="flex items-center ml-3">
                        <div>
                            <div type="button"
                                class="flex text-sm rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 "
                                aria-expanded="false" data-dropdown-toggle="dropdown-user">

                                <img class="w-12 h-12 rounded-full" src="images/AYUSH.jpg" alt="Ayush the_xiting_way">
                            </div>
                        </div>
                        <div class="z-40 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                            id="dropdown-user">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- end of top navbar -->

    <!-- side navbar -->

    <aside id="logo-sidebar"
        class="fixed after:block top-0 left-0 z-40 w-60 h-screen pt-2 transition-transform -translate-x-full  sm:translate-x-0 dark:bg-zinc-800"
        aria-label="Sidebar">
        <div>
            <div type="button"
                class=" flex text-sm bg-transparent rounded-full focus:ring-4 focus:ring-gray-300 px-12 mb-6"
                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <input type="checkbox" id="zoomCheck">
                <label for="zoomCheck">

                    <img class=" rounded-full bg-transparent cursor-cell  z-50" loading="lazy" decoding="async"
                        width="128" height="120" style="color:transparent" src="images/AYUSH.jpg"
                        alt="Ayush-portfolio, Trolltunga,Norway">
                        <div id="myModal" class="modal">
                            <img class="modal-content" id="img01">
                        </div>
                </label>
            </div>
        </div>
        <div class="h-full px-3 pb-4 overflow-y-auto  bg-zinc-900 dark:bg-zinc-800 ">
            <ul class="space-y-4  font-medium">
                <li>
                    <a href=""
                        class="flex items-center px-10 p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group ">
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                            <polyline points="9 22 9 12 15 12 15 22" />
                        </svg>
                        <span class="ml-3 whitespace-nowrap">Home</span>
                    </a>
                </li>

                <li>
                    <a href="#About"
                        class="flex items-center px-10  p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="16 18 22 12 16 6" />
                            <polyline points="8 6 2 12 8 18" />
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">About</span>

                    </a>
                </li>
                <li>
                    <a href="#project"
                        class="flex items-center px-10 p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 00-1.883 2.542l.857 6a2.25 2.25 0 002.227 1.932H19.05a2.25 2.25 0 002.227-1.932l.857-6a2.25 2.25 0 00-1.883-2.542m-16.5 0V6A2.25 2.25 0 016 3.75h3.879a1.5 1.5 0 011.06.44l2.122 2.12a1.5 1.5 0 001.06.44H18A2.25 2.25 0 0120.25 9v.776" />
                        </svg>

                        <span class="flex-1 ml-3 whitespace-nowrap">Projects</span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center px-10 p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z" />
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Skill</span>
                    </a>
                </li>
                <li>
                    <a href="#contact"
                        class="flex items-center px-10 p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-6 w-6 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="5.5" cy="11.5" r="4.5" />
                            <circle cx="18.5" cy="11.5" r="4.5" />
                            <line x1="5.5" y1="16" x2="18.5" y2="16" />
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Contact</span>
                    </a>
                </li>
                <li class="flex items-center py-4  rounded-lg dark:text-white  group">

                    <span class="flex-1 ml-3 text-gray-500 whitespace-nowrap">Socials</span>

                </li>
                <li>
                    <a href="https://www.instagram.com/ayushkumar_0911/"
                        class="flex items-center px-10 p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-5 w-5 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ayush-kumar-40302b258/"
                        class="flex items-center px-10 p-2 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-5 w-5 text-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                            <rect x="2" y="9" width="4" height="12" />
                            <circle cx="4" cy="4" r="2" />
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">LinkedIn</span>
                    </a>
                    <a href="https://github.com/Ayushkumar890"
                        class="flex items-center px-10 p-3 px-1 text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-5 w-5  text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                        </svg>
                        <span class="flex-1 ml-3 whitespace-nowrap">Git-Hub</span>
                    </a>
                    <a href="https://twitter.com/Ayush__890"
                        class="flex items-center px-10 p-3 px-1  text-white dark:tex-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="h-5 w-5 text-blue-400" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                        </svg>

                        <span class="flex-1 ml-3 whitespace-nowrap">Twitter</span>
                    </a>
                    
                </li>
            </ul>
        </div>
    </aside>

    <!--end of side navbar -->

    <!-- about section -->

    <div class="pt-0 sm:ml-60 ">


        <section id="About" class=" p-4 text-white body-font">
            <h1 class="md:ml-10 font-bold text-3xl text-purple-700 ">About</h1>
            <div class="container px-5 py-10 mx-auto">
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 w-full rounded-xl" data-aos="fade-up-down" data-aos-duration="2000">
                        <div class="w-full">
                            <h2 class="flex justify-center -pb-10 text-xl">
                                Hey!
                            </h2>
                            <br>
                            <p class="">
                                🌟 Hey there, I'm Ayush, a 2nd-year Computer Science student at Chitkara University.
                                Scored
                                86% in 12th and now navigating the tech world.
                                <br>
                                <br>
                                💻 Currently, I'm part of the tech squad at The Xiting Way. I'm fluent in Python, C, and
                                Web
                                Development - HTML, CSS, Bootstrap, and Javascript are my go-to tools.
                                <br>
                                <br>
                                🚀My projects include a Quiz Game using Python Login Authentication system, and a
                                Portfolio
                                using HTML, CSS, Javascript, and Bootstrap.
                                <br>
                                <br>

                                🤝 I work very well in a team and I also participated in Ceed Innovest2.0 where me along with my team where the finalists.
                                <br>
                                <br>

                                Excited to connect and explore new horizons!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--end of about section -->

        <!-- project section -->
        <div id="project">
            <%- include("project.ejs") -%>
        </div>

        <!-- end of project section -->
        <!-- contact section -->

        <div id="contact" class="sm:ml-64">
            
            <%- include("contact.ejs") -%>
        </div>

        <!-- end of contact section -->


    </div>



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            modalImg.alt = this.alt;

        }


        // When the user clicks on <span> (x), close the modal
        modal.onclick = function () {
            img01.className += " out";
            setTimeout(function () {
                modal.style.display = "none";
                img01.className = "modal-content";
            }, 400);

        }

    </script>


</body>

</html>
