
<style>
    input[type=checkbox] {
        display: none;
    }

    .container img {

        transition: transform 0.85s ease;
    }

    input[type=checkbox]:checked~label>img {
        transform: scale(2);
    }

    html {
        scroll-behavior: smooth;
    }
</style>

<body class="bg-zinc-900 w-full">


        <!-- project section -->

        <section id="Projects" class="text-gray-600 body-font ">
            <div class="container px-5 py-20 mx-auto">
                <h1 class="md:ml-10 font-bold text-purple-200 -mt-20 md:mt-0 mb-10 text-4xl border-b-4 w-max border-purple-500 ">Projects</h1>
                <div class="flex justify-center flex-wrap -m-4">
                    <div class="xl:w-1/4 md:w-1/2 p-4"   data-aos="zoom-in"  data-aos-duration="1000">
                        <a href="https://github.com/Ayushkumar890/TXW-Space.github.io" target="_blank">
                            <div
                                class="bg-purple-100 z-40 pb-4 rounded-xl ">
                                <img class="h-40 z-20 rounded-t-lg w-full object-cover object-center mb-6 "
                                    src="images/txw-space.png" alt="txw-space">
                                <h2 class="text-lg ml-4 text-black font-bold title-font mb-2">TXW-Space
                                </h2>
                                <p class="leading-relaxed text-black text-x ml-4 font-semibold">using HTML and CSS.
                                    &nbsp;&nbsp;</p>

                            </div>
                        </a>
                    </div>
                    <div class="xl:w-1/4 md:w-1/2 p-4"  data-aos="zoom-in"  data-aos-duration="1000">
                        <a href="https://github.com/Ayushkumar890/login-authentication" target="_blank">
                            <div
                                class="bg-purple-100  pb-4 rounded-xl ">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center mb-6"
                                    src="images/login-authentication.png" alt="login-authentication">
                                <h2 class="text-lg ml-4  text-black font-bold title-font mb-2">Login
                                    Authentication
                                </h2>
                                <p class="leading-relaxed text-black text-x ml-4 font-semibold">Using HTML , CSS and
                                    Javascript.</p>
                            </div>
                        </a>

                    </div>
                    <div class="xl:w-1/4 md:w-1/2 p-4"  data-aos="zoom-in"  data-aos-duration="1000">
                        <a href="https://github.com/Ayushkumar890/Ayushkumar.github.io" target="_blank">
                            <div
                                class="bg-purple-100  pb-4 rounded-xl ">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center mb-6"
                                    src="images/old-portfolio.png" alt="portfolio">
                                <h2 class="text-lg ml-4  text-black font-bold title-font mb-2">My Old
                                    Portfolio</h2>
                                <p class="leading-relaxed text-black text-x ml-4 font-semibold">HTML, CSS, Javascript
                                    and Bootstrap.
                                </p>
                            </div>
                        </a>

                    </div>
                    <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="zoom-in" data-aos-duration="1000">
                        <a href="https://github.com/Ayushkumar890/Dice-game-by-ayush" target="_blank">
                            <div
                                class="bg-purple-100 pb-4 rounded-xl ">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center bg-cover bg-center bg-no-repeat mb-6"
                                    src="images/Campuslink.png" alt="dice-game">
                                <h2 class="text-lg ml-4 text-black  font-bold title-font mb-2">Campus Link
                                </h2>
                                <p class="leading-relaxed text-black text-x ml-4 font-semibold">HTML, CSS, Express and
                                    Tailwindcss.</p>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="zoom-in" data-aos-duration="1000">
                        <a href="https://github.com/Ayushkumar890/Dice-game-by-ayush" target="_blank">
                            <div
                                class="bg-purple-100 pb-4 rounded-xl ">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center bg-cover bg-center bg-no-repeat mb-6"
                                    src="images/to-do.png" alt="dice-game">
                                <h2 class="text-lg ml-4 text-black  font-bold title-font mb-2">Campus Link
                                </h2>
                                <p class="leading-relaxed text-black text-x ml-4 font-semibold">HTML, CSS, Express and
                                    Tailwindcss.</p>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- end of project section -->




    </div>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
