<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayush-Portfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/x-icon" href="/images/aaa.png">


    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" /> -->
</head>
<style>
    input[type=checkbox] {
        display: none;
    }

    .container img {

        transition: transform 0.85s ease;
    }

    input[type=checkbox]:checked~label>img {
        transform: scale(2);
    }

    html {
        scroll-behavior: smooth;
    }
</style>

<body class="bg-zinc-900 w-full">


        <!-- project section -->

        <section id="Projects" class="text-gray-600 body-font ">
            <div class="container px-5 py-20 mx-auto">
                <h1 class="md:ml-10 font-bold text-purple-700 -mt-20 md:mt-0 mb-10 text-2xl">Projects</h1>
                <div class="flex justify-center flex-wrap -m-4">
                    <div class="xl:w-1/4 md:w-1/2 p-4"  data-aos="zoom-in"  data-aos-duration="2000">
                        <a href="https://github.com/Ayushkumar890/TXW-Space.github.io" target="_blank">
                            <div
                                class="sm:bg-purple-200 z-40 pb-4 rounded-xl  hover:bg-gradient-to-t from-purple-500 to-purple-100">
                                <img class="h-40 z-20 rounded-t-lg w-full object-cover object-center mb-6 "
                                    src="images/txw-space.png" alt="txw-space">
                                <h2 class="text-lg ml-4 text-white sm:text-black font-medium title-font mb-2">TXW-Space
                                </h2>
                                <p class="leading-relaxed text-white sm:text-black text-x ml-4">using HTML and CSS.
                                    &nbsp;&nbsp;</p>

                            </div>
                        </a>
                    </div>
                    <div class="xl:w-1/4 md:w-1/2 p-4"  data-aos="zoom-in"  data-aos-duration="2000">
                        <a href="https://github.com/Ayushkumar890/login-authentication" target="_blank">
                            <div
                                class="sm:bg-purple-200  pb-4 rounded-xl  hover:bg-gradient-to-t from-purple-500 to-purple-100">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center mb-6"
                                    src="images/login-authentication.png" alt="login-authentication">
                                <h2 class="text-lg ml-4 text-white sm:text-black font-medium title-font mb-2">Login
                                    Authentication
                                </h2>
                                <p class="leading-relaxed text-white sm:text-black text-x ml-4">Using HTML , CSS and
                                    Javascript.</p>
                            </div>
                        </a>

                    </div>
                    <div class="xl:w-1/4 md:w-1/2 p-4"  data-aos="zoom-in"  data-aos-duration="2000">
                        <a href="https://github.com/Ayushkumar890/Ayushkumar.github.io" target="_blank">
                            <div
                                class="sm:bg-purple-200  pb-4 rounded-xl  hover:bg-gradient-to-t from-purple-500 to-purple-100">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center mb-6"
                                    src="images/old-portfolio.png" alt="portfolio">
                                <h2 class="text-lg ml-4 text-white sm:text-black font-medium title-font mb-2">My Old
                                    Portfolio</h2>
                                <p class="leading-relaxed text-white sm:text-black text-x ml-4">HTML, CSS, Javascript
                                    and Bootstrap.
                                </p>
                            </div>
                        </a>

                    </div>
                    <div class="xl:w-1/4 md:w-1/2 p-4" data-aos="zoom-in" data-aos-duration="2000">
                        <a href="https://github.com/Ayushkumar890/Dice-game-by-ayush" target="_blank">
                            <div
                                class="sm:bg-purple-200 pb-4 rounded-xl  hover:bg-gradient-to-t from-purple-500 to-purple-100">
                                <img class="h-40 rounded-t-lg w-full object-cover object-center mb-6"
                                    src="images/dice-game.png" alt="dice-game">
                                <h2 class="text-lg ml-4 text-white sm:text-black  font-medium title-font mb-2">Dice Game
                                </h2>
                                <p class="leading-relaxed text-white sm:text-black text-x ml-4">HTML, CSS, Express and
                                    Bootstrap.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of project section -->




    </div>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


</body>

</html>